body{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.icon_cart{
    width: 25px;
    height: 25px;
}
.icon_cart img{
    max-width: 20px;
    max-height: 20px;
    padding: 2px;
    border: 1px solid black;
    border-radius: 50%;

}
.slider .add_to_cart{
    position: absolute;
    left: 40%;
    top: 70%;
    z-index: 1000;
}
.name_banners{
    position: absolute;
    font-size: xxx-large;
    font-weight: normal;
    left: 185px;
    top: 10%;
    z-index: 1000;
}
.slider img{
    max-width: 100%;
}
.slick-list{
    overflow: hidden;
}
.slick-track{
    display: flex;
}
.slider{
    position: relative;
    padding: 0px 30px;
}
.slick-arrow{
    position: absolute;
    top: 50%;
    margin: -15px 0px 0px 0px;
    z-index: 5;
    font-size: 0;
    width: 30px;
    height: 30px;
    border: none;
}
.slick-arrow.slick-prev{
    left: 0;
    background: url('../img/icons/arrow-left.png') 0 0 / 100% no-repeat;
}
.slick-arrow.slick-next{
    right: 0;
    background: url('../img/icons/arrow-right.png') 0 0 / 100% no-repeat;
}
/* .slick-dots{
    display: flex;    
    justify-content: center;
    margin: 0px;
}
.slick-dots li{
    list-style: none;
    margin: 0px 5px;
}
.slider .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px; 
    background-color: black;
    border-radius: 50%;
}
.slick-dots li.slick-active button{
    background-color: transparent;
    border: 1px solid black;
} */


.add_to_cart{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 30px;
    font-size: small;
    color: white;
    top: 50%;
    left: 50%;
    border-radius: 2px;
    background-color: blue;
}
.icon_power{
    width: 15px;
}
.search_img{
    margin:10px;
    width: 15px;
    height: 15px;
}
.search_img2{
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    filter: invert(1);
    background-color: yellow;
    color: #fff;
}
.search_form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #DDDADA;
    border-radius: 5px;
    box-shadow: 0 0 5px #DDDADA;
}
.search_input{
    width: 92%;
    border: none;
    font-size: x-small;
}
h1{
    font-size: 20px;
}
.blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    height: 350px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 1px solid #DDDADA;
    box-shadow: 0 0 5px #DDDADA;
}
.like{
    position: relative;
    width: 26px;
    height: 26px;
    border: none;
    left: 43%;
    top: 3%;
    background: url(../img/icons/like_empty.svg);
}
.product_img{
    max-width: 65%;
    max-height: 65%;
}
.main_info_product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
}
.footer_card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 15%;
    padding: 15px 0 0;
    font-size: small;
    background-color: #DAE2EA;
}
.check img{
    width: 20px;
    height: 20px; 
    border-radius: 50%;
    border: 1px solid green;
}
.price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: small;
}
.left_in_stock{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: small;
}
.add_to_cart{
    width: 120px;
    height: 35px;
    font-size: small;
    color: white;
    border-radius: 4px;
    border: none;
    background-color: #0E49B5;
}
